<div class="post">
  <div class="title">
    <h3> Title: <%= @post.title %> </h3>
    <p> 조회수 : <%= @post.hit %> </p>
    <p> 추천수 : <%= @post.reconum %> </p>
  </div>

  <div class="content">
    <%= simple_format @post.content %>
  </div>

  <!-- 추천을 위한 코드 -->
  <div class="recommend">
   <a href="/reconum/<%= @post.id %>"> 
      <button type="button" class="btn btn-primary reconum_submit" aria-label="Left Align">
       <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
      </button>
  </a>
    <%= @post.reconum %>
  </div>

  <div class="user">
    <strong>Created by </strong>
    <%= @post.user.present? ? @post.user.email : "an anonymous user" %>,
    <%= time_ago_in_words(@post.created_at) %> ago
  </div>
</div>

<hr>
<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-default' %>
<%= link_to 'Back', posts_path, class: 'btn btn-default' %>


